## Basics
##### Commonly used variables in python

In [2]:
# to find the data type variable
x=5
print (x)
type(x)

5

int

In [7]:
# basic type of data variables are int, float
x=5.3
print(x)
type(x)

5.3

float

In [22]:
# for operators output is in boolean
y=5
print (y>4)
type(y>4)

True

bool

In [44]:
x= "test"

type(x)

str

### type of regular operators

In [42]:
x=2.5
x+5

7.5

In [24]:
x-3

-1

In [25]:
x/2

1.0

In [26]:
x*2

4

In [27]:
# modulus operator used to check whether the number is odd or even
# modulus gives the remainder
x%2

0

In [28]:
y=10
y%2

0

In [29]:
# to get the quotient of the number during division the below operator is used
x=10
x//2

5

In [30]:
y=23
y//5

4

In [31]:
# Power operator is used
x=2
x**2

4

In [32]:
# or another symbol to execute power operator is
pow(x,2)

4

In [33]:
# comparison operator
salary=50
salary<30

False

In [34]:
salary>40

True

In [35]:
salary==50

True

In [37]:
salary!=50

False

In [38]:
(salary>30) and (salary<55)

True

In [39]:
(salary>30) and (salary>55)

False

In [40]:
(salary>30) or (salary<55)

True

In [41]:
not (salary!=50)

True

In [45]:
# string variable
s = "testing purpose"
s

'testing purpose'

In [46]:
s+"is fun"

'testing purposeis fun'

In [47]:
s+" "+"is fun"

'testing purpose is fun'

In [50]:
s*10

'testing purposetesting purposetesting purposetesting purposetesting purposetesting purposetesting purposetesting purposetesting purposetesting purpose'

In [51]:
(s+" ")*10

'testing purpose testing purpose testing purpose testing purpose testing purpose testing purpose testing purpose testing purpose testing purpose testing purpose '

### string operations

In [55]:
# find help to identify the index value of the string passed, its case-sensitive
s="This is California STATE"
s.find("state")

-1

In [56]:
s.find("State")

-1

In [57]:
s.find("STATE")

19

In [59]:
s.lower().find("state")   # lowercase can be used to conver the entire string into lowercase

19

In [61]:
s.upper().find("IS")  #Uppercase sample

2

In [64]:
# The below shows on handling extra space before and after the sentences
x=" this call for a PARTY          "
x

' this call for a PARTY          '

In [65]:
x.strip()

'this call for a PARTY'

In [66]:
x.lstrip()  # only focus to remove spaces on the left

'this call for a PARTY          '

In [67]:
x.rstrip()

' this call for a PARTY'

In [68]:
#To check whether line starts with a letter or words
x.strip().startswith("th")

True

In [69]:
x.strip().startswith("This")

False

In [70]:
x.strip().upper().startswith("TH")

True

In [71]:
x.strip().startswith("Party")

False

In [74]:
print (len(x) ," &", len(s))

32  & 24

### Indexing

In [75]:
x

' this call for a PARTY          '

In [76]:
x[0]

' '

In [77]:
x.strip()[0]

't'

In [80]:
# to find the last value in a string
x.strip()[-1]

'Y'

In [82]:
print(s)
print (s[-3])

This is California STATE
A

In [83]:
print(x)
x.split()

 this call for a PARTY

['this', 'call', 'for', 'a', 'PARTY']

In [85]:
x.split("a") # split is case-senstive

[' this c', 'll for ', ' PARTY          ']

In [86]:
x.lower().split("a")

[' this c', 'll for ', ' p', 'rty          ']

In [88]:
print(s)
s[0:10]

This is California STATE

'This is Ca'

In [89]:
s[:5]

'This '

In [92]:
s[:10]

'This is Ca'

In [93]:
s[10:]

'lifornia STATE'

In [94]:
s[-2:]

'TE'

In [95]:
s[-5:]

'STATE'

In [96]:
s[2:-2]

'is is California STA'

In [99]:
s[-5:-3]

'ST'

In [106]:
# to pick the step wise data
#pick every 3rd letter
s[2:15:3]

'iiCir'

In [100]:
s[s.find("C"):]

'California STATE'

In [103]:
s[s.lower().find("st"):-2]

'STA'

### List datatype

In [109]:
city=["Delhi","Agra","5007","Pune", "11001"]

In [110]:
type(city)

list

In [111]:
city[-1]

'11001'

In [115]:
pos=city[1].find("A")
city[1][pos]

'A'

In [119]:
city[3][city[3].find("u"):-1]

'un'

### to add/ remove particular value from string list

In [120]:
city=["Delhi","Agra","5007","Pune", "11001"]
city.remove("11001")
city

['Delhi', 'Agra', '5007', 'Pune']

In [123]:
## using POP function - this will return value which has been removed, 
## if there is no passing string by default will take the last element of the string to be removed
city=["Delhi","Agra","5007","Pune", "11001"]
city.pop()

'11001'

In [124]:
city

['Delhi', 'Agra', '5007', 'Pune']

In [128]:
city=["Delhi","Agra","5007","Pune", "11001"] 
city.pop(1)  # to remove the specific element

'Agra'

In [129]:
city

['Delhi', '5007', 'Pune', '11001']

In [140]:
city=["Delhi","Agra","5007","Pune", "11001"] 
city.index("5007")

2

In [142]:
city.pop(city.index("5007"))

'5007'

In [143]:
city

['Delhi', 'Agra', 'Pune', '11001']

In [145]:
city.index("500") # index doesn't work in partial match

ValueError: '500' is not in list

In [146]:
city.append("Bangalore")

In [147]:
city

['Delhi', 'Agra', 'Pune', '11001', 'Bangalore']

In [148]:
city.insert(3,"Kolkatta")

In [149]:
city

['Delhi', 'Agra', 'Pune', 'Kolkatta', '11001', 'Bangalore']

In [150]:
city.insert(-2,"Kochi")

In [151]:
city

['Delhi', 'Agra', 'Pune', 'Kolkatta', 'Kochi', '11001', 'Bangalore']

In [152]:
city+['Bawardi']  ## adding with plus will not store it directly

['Delhi', 'Agra', 'Pune', 'Kolkatta', 'Kochi', '11001', 'Bangalore', 'Bawardi']

In [153]:
city+[9003]

['Delhi', 'Agra', 'Pune', 'Kolkatta', 'Kochi', '11001', 'Bangalore', 9003]

In [155]:
city=city+['Bawardi']

In [156]:
city

['Delhi', 'Agra', 'Pune', 'Kolkatta', 'Kochi', '11001', 'Bangalore', 'Bawardi']

#### Loop

In [235]:
if 4>5:
    print('4 is more than 5')
else:
    print('5 is more than 4')

5 is more than 4

In [239]:
if "ice" in "icecream":
    print ('ice is there')
elif "cream"  in " burger":
    print ("cream not in burger")
else:
    print ("nothing")

ice is there

In [240]:
if "ice" in "iccream":
    print ('ice is there')
elif "cream" not in " burger":
    print ("cream not in burger")
else:
    print ("nothing")

cream not in burger

In [241]:
if "ice" in "iccream":
    print ('ice is there')
elif "cream"  in " burger":
    print ("cream not in burger")
else:
    print ("nothing")

nothing

In [249]:
u=[]
b=[]
for value in range(1, 50):
    if value%2==0:
        u.append(value)
    else:
        b.append(value)
        
print(u)
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

### Tuples

In [158]:
# Tuples are immutable ie they cannot be changed, thus not able to change its value
#used to store lat, long store ie data where its gives meaning and cannot be changing its value
geo=(23.4,24.3)

In [159]:
type(geo)

tuple

In [162]:
thistuple = ("sahishnu", "aditya")

In [163]:
type(thistuple)

tuple

In [164]:
clim= tuple(("summer","nigh","breezy"))
type(clim)

tuple

In [165]:
clim= (1,2,3)

In [166]:
type(clim)

tuple

In [167]:
clim[0]

1

In [173]:
clim= tuple(("summer","nigh","breezy"))

In [175]:
clim[0]

'summer'

In [176]:
# tuple doesn't allow individual updates for value

#### Dictionaries

In [188]:
# Dictionaries allows to do lookup and the structure is allowed to store data
# json is used to store Key value pair,similar to dictionaries store key value pair
# for example to store values of different schools in particular pincode

school_names={1:"csi", 1002:"stanes", 43:"GRG", 24:"JMT","NA":"No school"}

school_names

{1: 'csi', 1002: 'stanes', 43: 'GRG', 24: 'JMT', 'NA': 'No school'}

In [189]:
type(school_names)

dict

In [190]:
school_names[43]

'GRG'

In [191]:
school_names["NA"]

'No school'

In [197]:
school_names.get(2,"Not in dict")  # to avoid error while fetching data pass additional value 
# which will be retrieved if there is no dict key is found

'Not in dict'

In [199]:
school_names.get("NA", "Not anymore")

'No school'

In [201]:
#functions in dict variable
school_names.keys()

dict_keys([1, 1002, 43, 24, 'NA'])

In [202]:
school_names.values()

dict_values(['csi', 'stanes', 'GRG', 'JMT', 'No school'])

In [206]:
# to check whether any particular value available in the keys or values
print ('csi' in school_names.keys())

False

In [207]:
print (1 in school_names.keys())

True

In [208]:
"csi" in school_names.values()

True

In [215]:
"CSI" in school_names.values()

False

In [219]:
# to be faster checking in keys (this will not chek for the values)
1002 in school_names

True

In [227]:
cust_details = {"name":"Raj","age":35,"paymentmode":"card"}
item_details={"things":"ball","cost":80,"date":"3 Jul 2019"}
order_details={"customer":{"name":"Raj","age":35,"paymentmode":"card"},"item":{"things":"ball","cost":80,"date":"3 Jul 2019"}}
order_details

{'customer': {'name': 'Raj', 'age': 35, 'paymentmode': 'card'},
 'item': {'things': 'ball', 'cost': 80, 'date': '3 Jul 2019'}}

In [231]:
order= {'customer':cust_details,'item':item_details}
order

{'customer': {'name': 'Raj', 'age': 35, 'paymentmode': 'card'},
 'item': {'things': 'ball', 'cost': 80, 'date': '3 Jul 2019'}}

In [232]:
order['customer']['name']

'Raj'

In [233]:
order['item']['cost']

80

In [ ]:
#